.gestion-container{
    height: 675px;
    width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.title-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.title-header h1{
    font-size: 30px;
    font-weight: bold;
}
.title-header button{
    font-size: 18px;
    border-radius: 15px;
    background: #2E9FD4;
    color: #ffff;
    width: 190px;
    height: 35px;
}

.table-container{
    margin: 15px auto;
    height: 570px;
    width: 1100px;
    border-radius: 10px;
    border: 2px solid black;
}
.table-productos{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}
.table-productos tr{
    height: 30px;
    width: 100%;
}
.table-productos tr th{
    font-weight: 480;
}
.body-scroll{
    max-height: 350px;
    overflow-y: auto;
    display: block;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.add-form{
    height: 550px;
    width: 580px;
    background: #ffff;
}
.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #2E9FD4;
    color: #ffff;
}
.form-header h2{
    font-size: 25px;
    font-weight: bold;
}
.form-row{
    display: flex;
}
.form-column-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}
.form-column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 125px;
}
.form-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 200px;
    width: 100%;
}
.cancel-button{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: #ec2a2a;
    color: #ffff;
}
.add-button{
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: #2a4eec;
    color: #ffff;
}