/* CONTAINER DE ARRIBA */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(200, 63%, 80%);
    box-shadow: none;
    border-bottom: 1px solid #a1cbee;
    padding: 0 20px;
    height: 100px;
}

.top-container {
    padding: 0 40px;
    height: 100px;
}
.search-input, .profile {
    padding: 5px 10px;
    border-radius: 10px;
}

.logo-container img {
    height: 60px;
    width: auto;
}

/* SEARCH BAR */
.search-input {
    flex: 1;
    margin: 0 20px;
    padding: 8px 12px;
    border-radius: 20px;
    background: #f0f8ff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-line {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.search-line::placeholder {
    color: #555;
}

.search-icon {
    width: 20px;
    height: 20px;
}

/* USUARIO */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 15px;
    background: #f0f8ff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.user-role {
    font-size: 10px;
    color: #777;
    font-style: italic;
}


/* CONTAINER ABAJO */
.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #08437b;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
}

/* OPCIONES */
.bottom-container .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #DBF3FF;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    position: relative;
}

.bottom-container .options img {
    width: 30px;
    height: 30px;
}

.bottom-container .options:hover {
    background-color: #82baee;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}

/* DROPDOWN REPORTES */
.dropdown-reportes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.dropdown-options {
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: background 0.3s, color 0.3s;
}
.dropdown-options:hover {
    background: #75D2FF;
}

.search-results{
    position: absolute;
    top: 70px;
    width: auto;
    border-radius: 15px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2000;
}
.search-options{
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: background 0.3s, color 0.3s;
    font-weight: bold;
}
.search-options:hover{
    background: #75D2FF;
}