/* CONTAINER DE ARRIBA */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(200, 63%, 80%);
    box-shadow: none;
    border-bottom: 1px solid #a1cbee;
    padding: 0 20px;
    height: 100px;
}

.top-container {
    padding: 0 40px;
    height: 100px;
}
.search-input, .profile {
    padding: 5px 10px;
    border-radius: 10px;
}

.logo-container img {
    height: 60px;
    width: auto;
}

/* SEARCH BAR */
.search-input {
    flex: 1;
    margin: 0 20px;
    padding: 8px 12px;
    border-radius: 20px;
    background: #f0f8ff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-line {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.search-line::placeholder {
    color: #555;
}

.search-icon {
    width: 20px;
    height: 20px;
}

/* USUARIO */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 15px;
    background: #f0f8ff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username{
    font-size: 14px;
    font-weight: bold;
}

.user-role{
    font-size: 10px;
}

.options{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    position: relative;
}

.options:hover{
    background: #f0833e;
}

.dropdown-reportes {
    position: absolute;
    top: 50px;
    left: 80%;
    transform: translateX(-50%);
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    border: 2px solid #2b6daf;
}
.dropdown-options {
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: background 0.3s, color 0.3s;
}
.dropdown-options:hover {
    background: #75D2FF;
}
