.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
    width: 100%;
    height: 100px;
}

.top-container img{
    margin-left: 20px;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #75D2FF;
    width: 100%;
    height: 50px;
}

.search-input{
    display: flex;
    align-items: center;
    background: #ffffff;
}

.search-line{
    background: #ffff;
    color: black;
}

.search-line::placeholder{
    color: black;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username{
    font-size: 14px;
    font-weight: bold;
}

.user-role{
    font-size: 10px;
}

.options{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
}

.options:hover{
    background: #f0833e;
}

