.tour-container {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid black ;
    padding: 20px;
}

.btn-tours{
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}